{% extends "layout.html" %}
{% block title %}Create Post{% endblock %}

{% block content %}
<h1 align="center">Create Post</h1>
<form method="POST">
    <div class="container">
        <div class="mb-3">
            <label class="form-label">Title</label>
            <input type="title" class="form-control" id="title" placeholder="Title" name="title">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Content</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="content"></textarea>
        </div>
        <div class="mb-3">  
            <button type="submit" class="btn btn-primary">Create Post</button>
        </div>
    </div>
</form>
{% endblock content %}