{% extends "layout.html" %}
{% block title %}Posts{% endblock %}

{% block content %}
<h1 align="center">Posts</h1>
    <div class="container">
        {% for i in posts %}
            <h3>Title: {{i.title}}</h3>
            <h6>By: {{i.author}}</h6>
            <style>
                .content {
                  font-size: 20px;
                }
            </style>
            <p class="content">{{i.content}}</p>
            <hr>
            <br>
        {% endfor %}
    </div>
{% endblock content %}