{% extends "layout.html" %}
{% block title %}Register{% endblock %}

{% block content %}
<h1 align="center">Register</h1>

<form method="POST">
    <div class="container">
        <div class="col-md-6 offset-md-3">
            <div class="text-center">
                <img src="https://cdn.pixabay.com/photo/2016/03/31/19/56/avatar-1295397__340.png" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                  width="200px" alt="profile">
            </div>
            <div class="mb-3">                
                <input 
                    type="username" 
                    class="form-control" 
                    id="username" 
                    name="username" 
                    placeholder="Enter username">
            </div>
            <div class="mb-3">  
                <input 
                    type="password" 
                    class="form-control" 
                    id="password" 
                    name="password"
                    placeholder="Enter password">
            </div>
            <div class="mb-3">  
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </div>
    </div>
</form>
{% endblock content %}